<app-saas-banner></app-saas-banner>

<app-saas-features></app-saas-features>

<app-saas-about></app-saas-about>

<app-saas-discover></app-saas-discover>

<!-- <app-saas-funfacts></app-saas-funfacts> -->

<app-saas-pricing></app-saas-pricing>

<!-- <app-saas-newsletter></app-saas-newsletter> -->

<app-sass-faq></app-sass-faq>

<app-saas-feedback></app-saas-feedback>

<!-- <app-saas-app-download></app-saas-app-download> -->

<app-saas-our-story></app-saas-our-story>

<app-saas-contact></app-saas-contact>