<div id="home" class="saas-banner-area jumbotron">
      <video id="video-background" loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true">
        <source src="assets/img/background.mp4" type="video/mp4">
    </video>
    <div class="container">
        <div class="main-banner-content container">
            <h1>Global Stock Loan</h1>
            <br>
            <h1>Leveraged Investment</h1>
            <br>
            <p>본인 자금의 250%를 운용 할 수 있는 
                새로운 미국주식 담보대출
                서비스입니다.</p>
            <p>모바일, PC에서 5분이면 충분합니다!</p>
            <a target="_blank" href="http://globalstockloan.co.kr/search_list_dis.php" class="default-btn" style="color: white;">대출 가능 주식 조회<span></span></a>
            <br>
            <a target="_blank" href="http://pf.kakao.com/_Rzwws/chat" class="default-btn" style="background-color: yellow; color: black;">카카오톡 채팅 상담<span></span></a>
        </div>
    </div>
</div>