<section id="contact" class="contact-area ptb-100">
    <div class="container">
        <div class="section-title" *ngFor="let sectionTitleContent of sectionTitle;">
            <h2>{{sectionTitleContent.title}}</h2>
            <p>{{sectionTitleContent.paragraphText}}</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <div class="contact-image text-center" *ngFor="let Image of contactImage;">
                    <img [src]="Image.img" alt="image">
                </div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="contact-form">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-6 col-md-6">
                                <div class="form-group" id="msg-subject" class="form-control">
                                    고객센터 전화번호 1661-9917
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" id="msg-subject" class="form-control">
                                    <a target="_blank" href="http://pf.kakao.com/_Rzwws/chat">카카오톡 1 대 1 상담 바로 가기</a>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group" id="msg-subject" class="form-control">
                                    모회사 코라이즈 테크놀로지 이메일 bm@gemizip.com
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>